{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>試し</title>
    <link rel="icon" type="image/png" href="{% static '/imgs/icon/icon2.png' %}">

    <!-- モーダル表示 -->
    <!--<link rel="stylesheet" type="text/css" href="{% static '/css/21_modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/22_close_btn.css' %}">-->

    <style>
        div.inline_block_create{
            display: inline-block;
            width: 40%;
            height: 50%;
            vertical-align: top;
            /*background-color: aquamarine;*/
        }
        div.inline_block_result{
            display: inline-block;
            width: 40%;
            height: 50%;
            vertical-align: top;
            /*background-color: aquamarine;*/
        }
    </style>
</head>
<body>
    {% include "include_header.html" %}

    <p class="modal_title" style="background-color:rgb(253, 226, 73);border:#ec59ba 3px double;;padding:10px;">
        ◆ QRコードの新規作成
    </p>

    <!-- QRコード発行の設定区域 -->

    <form method="POST" id="create_ajax" action="{% url 'gen_qr:create_ajax' %}">
        {% csrf_token %}
        <div class="inline_block_create">
            <span>URLを入力してください</span>
            <br>
            <input type="text" id="get_url" name="get_url" placeholder="例: https://www">
            <br>
            <input type="checkbox" id="get_flg_shorturl" value="on">短縮URL(14桁)
            <br>
            <span>用途</span>
            <br>
            <input type="text" id="get_usage">
            <!--<br><span>オリジナル画像化</span><br><input type="text" id="get_original"/>-->
            <br>
            <span>メモ</span>
            <br>
            <input type="text" id="get_explain" name="get_explain" placeholder="具体的な説明書きを残してください">
            <br>
            <hr>
            <input class="btn" type="submit" value="QR発行" id="btn1">
        </div>

        <!-- QRコードの表示区域 -->
        <div class="inline_block_create">
            <tr>
                <td>
                    <span>QRコード表示</span>
                </td>
                <td>
                    <input class="btn" type="submit" value="登録" id="btn2">
                </td>
                <td>
                    <span id="regist_response" style="font-size:16px;font-weight: bold;"></span>
                </td>
            </tr>
            <p id="keyURL" style="font-size:10px;"></p>
            <img class="result_qr" src="" width=80%>
        </div>

    </form>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
</script>
</html>